div {
  color: white;
  text-align: center;
  font-size: 30px;
  max-width: 960px; }

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px; }

.item1 {
  grid-column: 1 / 4; }
