/* http://meyerweb.com/eric/tools/css/reset/
   v3.0 | 20180413
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Karla");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#download-resume {
  margin: 0 20px 0 0;
  display: inline-flex;
  align-content: flex-end;
  float: right; }

.resume-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin: 0 20px 20px 20px;
  background-color: #F8F8F8;
  padding: 20px;
  border-radius: 5px; }
  .resume-container h2.section-title {
    font-family: "Lato", sans-serif, "Karla", sans-serif;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin: 20px; }
  .resume-container .section-content {
    margin-right: 20px; }
    .resume-container .section-content h2.first-listing {
      margin-top: 20px !important; }
    .resume-container .section-content h2.employer {
      font-family: "Lato", sans-serif, "Karla", sans-serif;
      color: #69707a;
      font-size: 20px;
      font-weight: bold;
      margin: 60px 20px 5px 20px; }
      .resume-container .section-content h2.employer span.timeframe {
        font-weight: normal;
        color: #69707a;
        font-size: 14px;
        float: right;
        font-style: italic; }
    .resume-container .section-content h2.job-title {
      font-family: "Lato", sans-serif, "Karla", sans-serif;
      color: #1dd1a1;
      font-size: 20px;
      font-weight: bold;
      margin: 10px 20px 10px 20px; }
    .resume-container .section-content h4.degree {
      font-family: "Lato", sans-serif, "Karla", sans-serif;
      color: #1dd1a1;
      font-size: 16px;
      font-weight: bold;
      margin: 10px 20px 10px 20px; }
    .resume-container .section-content section.skill-container {
      margin: 20px; }
    .resume-container .section-content span.skill-tag {
      font-size: 14px;
      font-weight: bolder;
      font-family: "Lato", sans-serif, "Karla", sans-serif;
      background-color: #1dd1a1;
      color: #FFFFFF;
      padding: 8px;
      margin: 5px 5px 0 0px;
      display: inline-flex;
      border-radius: 3px; }
