//styles.scss

//imports
@import 'reset';
@import 'variables';
@import 'mixins';

body{
  background-color:$body-color;
  margin: 0 auto;
  max-width: 50em;
}


.navbar{

  a{
    padding-bottom:0;
    border-bottom:none;
  }

  a:hover{
    padding-bottom:0;
    border-bottom:none;
    cursor:pointer;
    opacity:0.8;
  }

  img#white-logo{
    width:80px;
    height:80px;
    margin:20px;
    color:$white;
    fill:$white !important;
  }

  img#green-logo{
      display:none;
  }

  .hamburger{
    cursor:pointer;

      #menu{
        width:30px;
        height:30px;
        margin:45px 20px 20px 20px;
        display:inline-block;
        float:right;
        @include transition($transition-fast);
      }

      svg#menu rect{
        color:$white;
        fill:$white;
      }

      #menu:hover{
        opacity:0.8;
      }

  }

}

/* overlay navigation */
.overlay{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  right:0;
  background-color: rgb(105, 112, 122);
  background-color: rgba(105, 112, 122, 0.95);
  //filter: blur(5px);
  overflow-x: hidden;
  @include transition($transition-slow);

  .close{
    position:absolute;
    top:20px;
    right:20px;
    width:20px;
    height:20px;
  }
}

.overlay-content{
  position:relative;
  top:25%;
  width:100%;
  text-align:center;
  margin-top:30px;
}

.overlay a{
  padding:10px 10px 2px 10px;
  text-decoration:none;
  border-bottom: 2px solid transparent;
  color:$white;
  font-size:30px;
  display:block;
  @include transition($transition-fast);
  margin:20px;
}

.overlay svg#close rect{
  fill:$white;
}

.overlay a:hover, .overlay a:focus{
  opacity:0.8;
  text-decoration:none;
  border-bottom:2px solid transparent;
}

.switch {
  margin-top:100px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input{
  display:none;
}

.slider{
  position:absolute;
  cursor:pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:$body-color;
  @include transition($transition-fast);
}

.slider:before{
  position:absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  @include transition($transition-fast);
}

input:checked + .slider{
  background-color: $brand-color;
}

input:focus + .slider{
  box-shadow: 0 0 1px $body-color;
}

input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius:50%;
}

p{
  font-family:$font, $backup-font;
  color:$body-color;
  font-size:$body-size;
  font-weight:normal;
  line-height:$body-line-height;
  margin:10px;
  padding:10px;
}

h1{
  font-family:$font;
  color:$heading-color;
  font-size:26px;
  font-weight:bold;
  margin:10px;
  padding:10px 10px 0px 10px;
}

a{
  font-family:$font;
  color:$alt-color;
  text-decoration:none;
  font-weight:bold;
  @include transition($transition-fast);
  padding-bottom:2px;
  border-bottom: 2px solid transparent;
}

a:hover{
  opacity:0.8;
  text-decoration:none;
  padding-bottom:2px;
  border-bottom:2px solid $alt-color;
}

/* landing page */
.headshot{
  width:200px;
  height:200px;
  border-radius:50%;
  border:5px solid white;
  margin:3% auto;
  display:block;
  -webkit-box-shadow:$box-shadow;
}

.about-me{
  padding:1rem 0;
}

#passion-text{
  color:$brand-color;
  font-weight:bold;
}

.link-section{

  margin-top:3rem;

  ul.content-links{
    margin:4rem 0;
    padding:0;
    font-family:$font;
    text-align:center;

    li{
      display:inline;

      a.learn-more-button{
          color:#fff;
          background-color:$alt-color;
          font-weight:400;
          margin-left:20px;
          margin-top:20px;
          padding:8px 15px;
          border-radius:50px;
      }

      a{
        display:inline-block;
        margin-right:1rem;
        color:$white;
        background-color:$alt-color;
        text-decoration:none;
        padding:8px 15px;
        border-radius:50px;
        font-weight:bold;
      }

      a:hover{
        opacity:0.8;
      }

    }

  }
}

footer p{
  color:$white;
}

//PROJECT WORK STYLES

.project-container{
  display:flex;
  flex-direction:column;
  flex:1;
  margin:0 20px 20px 20px;

  .project-tile{
      background-color:$lightgray;
      padding-bottom:30px;
      border-radius:$radius;
      margin-top:20px;

      h2.project-name{
        font-weight:bold;
        font-size:20px;
        font-family:$font;
        margin:10px;
        padding:10px 10px 0px 10px;
      }

      span.project-name-emoji{
          margin-left:5px;
      }

      p.project-description{
          font-size:12px;
          margin-bottom:20px;
      }

      a.learn-more-button{
          color:#fff;
          background-color:$alt-color;
          font-weight:400;
          margin-left:20px;
          margin-top:20px;
          padding:8px 15px;
          border-radius:50px;
      }

  }

}

//EXPERIENCE STYLES

#download-resume{
  margin:0 20px 0 0;
  display:inline-flex;
  align-content: flex-end;
  float:right;
  color:$white;
}

#download-resume:hover{
  border-bottom:2px solid;
}

.bio-container{
  background-color:$lightgray;
  border-radius:$radius;
  padding:20px 20px 5px 20px;
  margin:0 20px 20px 20px;
}

.resume-container{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin:0 20px 20px 20px;
  background-color:$lightgray;
  padding:20px;
  border-radius:$radius;

  h2.section-title{
    font-family:$font, $backup-font;
    color:$heading-color;
    font-size:20px;
    font-weight:bold;
    text-align:right;
    margin:20px;
  }

  .section-content{
    margin-right:20px;

    a.learn-more-button{
        color:#fff;
        background-color:$alt-color;
        font-weight:400;
        // margin-left:20px;
        margin-top:20px;
        padding:8px 15px;
        border-radius:50px;
    }

    //reducing top margin from first listing
    h2.first-listing{
      margin-top:20px !important;
    }

    h2.employer{
      font-family:$font, $backup-font;
      color: $body-color;
      font-size:20px;
      font-weight:bold;
      margin:60px 20px 5px 20px;

      span.timeframe{
        font-weight:normal;
        color:$body-color;
        font-size:14px;
        float:right;
        font-style:italic;
      }

      @media only screen and (max-width:700px){
        span.timeframe{
          visibility: hidden;
        }
      }

    }

    h2.job-title{
      font-family:$font, $backup-font;
      color: $brand-color;
      font-size:20px;
      font-weight:bold;
      margin:10px 20px 10px 20px;
    }

    h4.degree{
      font-family:$font, $backup-font;
      color: $brand-color;
      font-size:16px;
      font-weight:bold;
      margin:10px 20px 10px 20px;
    }

    section.skill-container{
      margin:20px;
    }

    span.skill-tag{
      font-size:14px;
      font-weight:bolder;
      font-family:$font, $backup-font;
      background-color:$brand-color;
      color: #FFFFFF;
      padding:8px;
      margin:5px 5px 0 0px;
      display:inline-flex;
      border-radius:($radius - 2px);
    }

  }

  .certifications a{
      font-size:12px;
  }

}

@media only screen and (max-width:700px){
  .resume-container{
    grid-template-columns:100%;
    grid-column-gap: 0;

    h2.section-title{
      margin-bottom:0;
      font-size:18px;
      text-align:left;
    }

    h2.first-listing{
      margin-top:5px;
    }
  }
}

@media only screen and (max-width:500px){
  p.job-description{
    font-size:14px;
  }
}

.project-details-container{
  background-color:$lightgray;
  border-radius:$radius;
  padding:20px 20px 5px 20px;
  margin:0 20px 20px 20px;

  img.project-image{
    width:75%;
    display:block;
    margin:auto;
    padding:20px;
  }
}
